@model Shared.Models.ChangePassword

@{
	Layout = null;
}


<div class="pageUpdatePassword">
    <span class="title">Enter your new password.</span>

    @if (ViewBag.Mess == "2")
    {
        <p>
            Password and Repassword is different
        </p>
    }
    else if (ViewBag.Mess == "3")
    {
        <p>New Password cannot same with Old Password</p>
    }
    <form asp-controller="account" asp-action="ChangePasswordAccount" method="post">
        <div class="formPassword">
            <input type="password" name="password" class="newPass" placeholder="Current password" required>
            <input type="password" name="rePassword" class="newPass" placeholder="New password" required>
            <input type="password" name="ConfirmPassword" class="reNewPass" placeholder="Retype new password"required>
        </div>
        <input type="submit" class="updatePass" value="Confirm" /><br />
        @if (Context.Session.GetString("role") == "AD")
        {
            <a href="/Admin/">Back</a>
        }
        else{
            <a href="/Home/Index">Back</a>
        }
    </form>

</div>


<style>

.pageUpdatePassword{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 32px 6%;
  color : #444444;
  font-size: 18px;
  text-align: center;
}
span{
  display: block;
}

.title{
  font-size: 20px;
}

.formPassword{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}
input{
  border-radius: 5px;
  /*display: block;*/
  width: 50%;
  margin-bottom:20px;
  border: 1px solid #979797;
  padding: 16px 32px;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center; 
}
input:focus{
  border: 1px solid #004a86;

}

input.updatePass{
    align-items:center;
  margin-top: 10px;
  font-size: 18px;
  background-color: #004a86;
  color: white;
  padding: 16px 32px;
  border: 1px solid;
  border-radius: 6px;
}



</style>
