@model Shared.Models.ChangePassword

<div id="form">
    <div id="form-content">


        @if (ViewBag.Mess == "1")
        {
            <p>Field is required</p>
        }
        else if (ViewBag.Mess == "2")
        {
            <p>
                Password and Repassword is different
            </p>
        }
        else if(ViewBag.Mess == "3")
        {
            <p>New Password cannot same with Old Password</p>
        }
        <form asp-controller="account" asp-action="ChangePasswordAccount" method="post">
            <div>
                <label>Password<span style="color: red;">*</span></label><br />
                <input name="password" type="password" /><br />
            </div>
            <div>
                <label>New Password<span style="color: red;">*</span></label><br />
                <input name="rePassword" type="password" /><br />
            </div>
            <div>
                <label>Confirm Password<span style="color: red;">*</span></label><br />
                <input name="ConfirmPassword" type="password" /><br />
            </div>
            
            <input type="submit" value="Confirm" /><br />
        </form>
    </div>
</div>