@*

*@
@{
    ViewData["Title"] = "Index";
}
<h1>Welcome User</h1>
<a asp-action="Logout" asp-controller="Account" class="btn btn-primary">Logout</a>
<span><a href="/Account/ChangePassword" class="btn btn-danger">Change Password</a></span>
