@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-controller="account" asp-action="signup">SignUp</a>
        <a asp-controller="account" asp-action="signin">SignIn</a>
    </div>
</div>
