@{
    ViewData["Title"] = "Add To Cart";
}

<div>
    <img style="width: 100%" src="https://i.stack.imgur.com/HfZbV.png" alt="" />
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <h1 style="color: red; margin-right: 10px"> The quantity not enough. Try again! </h1>

    <a asp-action="Index" asp-controller="Home">
        <div class="btn btn-warning" style="justify-content: center">
            <i style="font-size: 30px; padding: 0 10px !important" class="fa fa-arrow-left"></i>
        </div>
    </a>
</div>