@model Shared.Models.Product
@{
    ViewBag.Title = "Edit";
}

<div>
    <h1 style="text-align: center; font-size: 42px; font-weight: bold; color: #016848">Admin Dashboard</h1>
</div>

<h1 style="text-align: center">Edit Product</h1>

<div class="items-form-group">
    <div class="col-sm-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label items-text-bolder">ID</label>
                <input asp-for="ProductID" class="form-control" readonly />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label items-text-bolder">Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label items-text-bolder">Description</label>
                <textarea asp-for="ProductDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label items-text-bolder">Price</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label items-text-bolder">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateOn" class="control-label items-text-bolder">Created Date</label>
                <input asp-for="CreateOn" type="date" class="form-control" />
                <span asp-validation-for="CreateOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="items-text-bolder">Old Image</p>
                <img src="@Model.ProductImage" width="100" height="100" alt="@Model.ProductName" />
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label items-text-bolder">New Image</label>
                <input asp-for="ProductImage" class="form-control" type="file" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerID" class="control-label items-text-bolder">Type</label>
                <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.Manufacturer"></select>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index"><div class="btn btn-danger">Back to List</div></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
