#form {
    margin: 50px auto;
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#form-title {
    line-height: 50px;
    text-align: center;
}

    #form-title span {
        padding: 0px 15px;
    }

        #form-title span a {
            text-decoration: none;
            font-weight: bold;
            color: #000;
        }

#form-content {
    width: 70%;
    margin: 0px auto;
}

    #form-content label {
        width: 100%;
        line-height: 35px;
    }

    #form-content input[type="text"], input[type="password"] {
        width: 100%;
        line-height: 30px;
        margin-bottom: 5px;
    }

    #form-content div {
        text-align: center;
        margin-top: -5px;
        margin-bottom: 15px;
    }

    #form-content input[type="submit"], input[type="button"], .backbtn {
        width: 100%;
        background-color: brown;
        color: #fff;
        margin-bottom: 15px;
        line-height: 40px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

.msg-error {
    color: red;
    margin-bottom: 20px;
}

#content-detail {
    width: 100%;
}

#content-title {
    line-height: 15px;
    margin-bottom: 8px;
    padding: 15px;
}

#product {
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
}

#product-name {
    padding: 15px;
}

    #product-name h2 {
        line-height: 15px;
        border-bottom: 1px solid gainsboro;
        width: 100%;
        font-size: 30px;
        padding-bottom: 15px;
    }

#product-detail {
    display: flex;
    margin-top: 20px;
}

#product-detail-left {
    width: 40%;
}

#product-img img {
    width: 100%;
}

#product-img-items {
    text-align: center;
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
}

    #product-img-items div {
        border: 1px solid gainsboro;
        width: 20%;
        margin: 5px;
        border-radius: 5px;
        padding: 3px 0px;
    }

        #product-img-items div:hover {
            border: 1px solid red;
        }

    #product-img-items img {
        width: 80%;
    }

#product-detail-right {
    width: 60%;
}

#product-detail-right-content {
    width: 100%;
}

#product-price {
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

#product-status {
    color: green;
    font-weight: bold;
}

#product-detail-right-button {
    margin-top: 30px;
}

#product-detail-buttons {
    margin-top: 20px;
    display: flex;
}

#product-detail-button {
    width: 100%;
}

    #product-detail-button input[type="button"] {
        width: 49%;
        font-weight: bold;
    }

        #product-detail-button input[type="button"]:hover {
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        }

#info-detail {
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
}

#info-detail-title {
    padding: 15px;
}

#info-detail #info-detail-title h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid gainsboro;
}
